<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Ventas de</h6>
              <h2 class="text-white mb-0">{{dataUser.nombre}} {{dataUser.apellido}}</h2>
            </div>
            
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-salesByUser" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Ultimas ventas</h6>
              <h2 class="text-white mb-0"> <br></h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-salesTotal" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
